@model DataAccess.Postgres.Entity.UnityEntity

@{
    ViewData["Title"] = "Create Unity";
}

<h2>Добавить параметр в список</h2>

<form asp-action="Create" method="post">
    <input type="hidden" name="deviceName" value="@ViewBag.DeviceName" />
    <div class="form-group">
        <label asp-for="SampleID" class="control-label">Sample</label>
        @Html.DropDownListFor(
                 model => model.SampleID,
                 (SelectList)ViewBag.SampleList,
                 "Шаблон",
                 new { @class = "form-control" }
                 )
        <span asp-validation-for="SampleID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ParametersID" class="control-label">Parameters</label>
        @Html.DropDownListFor(
                 model => model.ParametersID,
                 (SelectList)ViewBag.ParametersList,
                 "Параметр",
                 new { @class = "form-control" }
                 )
        <span asp-validation-for="ParametersID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Value" class="control-label"></label>
        <input asp-for="Value" class="form-control" />
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
