@model DataAccess.Postgres.Entity.ParametersEntity

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование параметра</h1>

<h4>Параметр</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measure" class="control-label"></label>
                <input asp-for="Measure" class="form-control" />
                <span asp-validation-for="Measure" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-secondary">
                    <i class="bi bi-save me-2"></i>Сохранить
                </button>
                <a class="btn btn-info d-inline-flex align-items-center text-dark"
                   asp-action="Index" style="text-decoration: none;">
                    <i class="bi bi-arrow-90deg-left me-2"></i> Назад
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
