@model DataAccess.Postgres.Entity.SampleEntity

@{
    ViewData["Title"] = "Создание шаблона";
}

<h2>Создать шаблон</h2>
<hr />
<div class="row">
    <!-- Первая карточка -->
    <div class="col-md-6">
        <div class="card border-secondary mb-1">
            <div class="card-header mb-0">Создать новый шаблон</div>
            <div class="card-body">
                 <form asp-action="Create" method="post">
                     <div class="form-group" style="margin-top: 0;">
                         <label asp-for="Name" class="control-label"></label>
                         <input asp-for="Name" class="form-control" />
                         <span asp-validation-for="Name" class="text-danger"></span>
                     </div>
                     <div class="form-group">
                         <label asp-for="System.EquipmentID" class="control-label">Устройство</label>
                         @Html.DropDownListFor(
                                 model => model.System.EquipmentID,
                                  (SelectList)ViewBag.EquipmentList,
                                  "Выберете устройство",
                                  new { @class = "form-control" }
                                  )
                        <span asp-validation-for="System.EquipmentID" class="text-danger"></span>
                     </div>
                     <div class="form-group mt-2">
                         <input type="submit" value="Создать" class="btn btn-secondary d-inline-flex align-items-center text-dark" />
                     </div>
                 </form>
            </div>
        </div>
    </div>

    <!-- Вторая карточка -->
    <div class="col-md-6">
        <div class="card border-secondary mb-1">
            <div class="card-header mb-0">Создать шаблон на основе другого</div>
            <div class="card-body">
                <form asp-action="CreateBasedOn" method="post">
                    <div class="form-group" style="margin-top: 0;">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="System.EquipmentID" class="control-label">На основе</label>
                        @Html.DropDownListFor(
                                 model => model.System.EquipmentID,
                                 (SelectList)ViewBag.SampleList,
                                 "Выберете шаблон",
                                 new { @class = "form-control" }
                                 )
                        <span asp-validation-for="System.EquipmentID" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" value="Создать" class="btn btn-secondary d-inline-flex align-items-center text-dark" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
