@model DataAccess.Postgres.Entity.EquipmentEntity

@{
    ViewData["Title"] = "ГРНРМ";
}

<h1>Создание устройства ГРНРМ</h1>

<h4>Усторйство ГРНРМ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantID" class="control-label">Станция</label>
                @Html.DropDownListFor(
                         model => model.PlantID,
                         (SelectList)ViewBag.PlantList,
                         "Выберите станцию",
                         new { @class = "form-control" }
                         )
                <span asp-validation-for="PlantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Subsystems" class="control-label">Подустройства</label>
                @Html.ListBox("subsystemIds",
                         (SelectList)ViewBag.SubsystemList,
                         new { @class = "form-control", multiple = "multiple" })
                <span class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Создать" class="btn btn-secondary d-inline-flex align-items-center text-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
