<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand">ГРНРМ</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Справочники</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="EquipmentEntities" asp-action="Index">Устройства</a>
                                <a class="dropdown-item" asp-area="" asp-controller="PlantEntities" asp-action="Index">Станции</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ParametersEntities" asp-action="Index">Параметры</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="SampleEntities" asp-action="Index">Шаблоны</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Настройка</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!-- Левый блок (синяя боковая панель) -->
            <aside class="col-md-3 sidebar">
                <h5>Перечень</h5>
                @if (ViewBag.Devices != null && ((List<string>)ViewBag.Devices).Any())
                {
                    <ul style="list-style-type: none;">
                        @foreach (var device in ViewBag.Devices as List<string>)
                        {
                            <li class="@(device == ViewBag.ActiveDevice ? "active" : "")" style=" margin-bottom: 10px;">
                                <a asp-controller="UnityEntities" asp-action="DeviceUnity" asp-route-deviceName="@device"
                                   style="text-decoration: none;">
                                    <i class="bi bi-table me-3" style="cursor: pointer;"></i>@device                                    
                                </a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>Нет доступных устройств.</p>
                }
                <a class="btn btn-secondary d-inline-flex align-items-center text-dark" asp-area="" asp-controller="EquipmentEntities" asp-action="Create"
                    style="text-decoration: none;">
                    <i class="bi bi-plus-square me-2"></i> Добавить
                </a>
            </aside>
            <!-- Основной контент -->
            <main role="main" class="col-md-9 pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MyProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
