@model DataAccess.Postgres.Entity.UserEntity

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование характеристик</h1>

<h4>Параметр</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonSurname" class="control-label"></label>
                <input asp-for="PersonSurname" class="form-control" />
                <span asp-validation-for="PersonSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonPatronymic" class="control-label"></label>
                <input asp-for="PersonPatronymic" class="form-control" />
                <span asp-validation-for="PersonPatronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleID" class="control-label">Роль</label>
                @Html.DropDownListFor(
                         model => model.RoleID,
                         (SelectList)ViewBag.RoleList,
                         "Выберете роль",
                         new { @class = "form-control" }
                         )
                <span asp-validation-for="RoleID" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-secondary">
                    <i class="bi bi-save me-2"></i>Сохранить
                </button>
                <a class="btn btn-info d-inline-flex align-items-center text-dark"
                   asp-action="Index" style="text-decoration: none;">
                    <i class="bi bi-arrow-90deg-left me-2"></i> Назад
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
